$table-border-color: var(--b3-theme-surface-lighter);

.table {
    display: table;
    border-collapse: collapse;
    border: 1px solid $table-border-color;

    .row {
        display: table-row;

        .cell {
            display: table-cell;
            padding: 10px;
            border: 1px solid $table-border-color;
            color: var(--b3-theme-on-background);
            box-sizing: border-box;
        }
        .cell-0 {
            @extend .cell;
            width: 2rem;
        }


        &.header {
            display: table-header-group;
            font-weight: bold;
            background-color: var(--b3-theme-background);
        }
    }
}