$table-border-color: var(--b3-theme-surface-lighter);

.table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    border: 1px solid $table-border-color;

    .row {
        display: flex;

        .cell {
            flex: 1;
            padding: 10px;
            border: 1px solid $table-border-color;
            color: var(--b3-theme-on-background);
            box-sizing: border-box;
        }
        .cell-0 {
            @extend .cell;
            flex: 0;
            width: 2rem;
        }


        &.header {
            font-weight: bold;
            background-color: var(--b3-theme-background);
        }
    }
}